
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 10%;
}

div {
    position: relative;
}

span {
    font-weight: bold;
}


.doneToggle {
    background-color: rgb(62, 209, 106) !important;
}

.done, .toArchive {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #999;
    margin: 0px 3px;
}

.done:hover {
    background-color: rgb(183, 250, 203);
}

.toArchive:hover {
    background-color: rgb(254, 144, 142);
}